# Build 
/**/build/
/**/target/
.gradle

# MacOS 
/**/.DS_Store

# IntelliJ
/**/*.iml
/.idea/
.vscode

# Runtime outputs
/logs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
